
#latest-sale{
    .view-all{
        float: right;
        border-radius: 10%;
        margin-top: -35px;
    }
    .owl-carousel .item .product a{
        overflow: hidden;
    }

    .owl-carousel .item .product a img{
        transition: transform .5 ease;
        height: 200px;
    }

    .owl-carousel .item .product img:hover{
        transform: scale(0.8);
    }

    .owl-carousel .owl-nav button{
        position: absolute;
        top:30%;
        outline: none;
    }

    .owl-carousel .owl-nav button.owl-prev{
        left: 0;
    }
    .owl-carousel .owl-nav button.owl-prev span,
    .owl-carousel .owl-nav button.owl-next span{
        font-size: 55px;
        color: color-primary;
        padding: 0 1rem;
        padding-top: -10%;
        background-color: #2e2e2e;
        color: #fff;
        border-radius: 5px;
    }
    .owl-carousel .owl-nav button.owl-prev span{
        margin-left: 2rem;
    }

    .owl-carousel .owl-nav button.owl-next{
        right:0;
    }

    .owl-carousel .owl-nav button.owl-next span{
        margin-right: 2rem;
    }
}